page,
.content {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  //border: red 1px dashed;
}

.left-aside {

  flex-shrink: 0;
  width: 200rpx;
  height: 100%;
  background-color: #fff;
}

.f-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100rpx;
  font-size: 28rpx;
  color: $font-color-base;
  position: relative;

  &.active {
    color: $base-color;
    background: #f8f8f8;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 36rpx;
      width: 8rpx;
      background-color: $base-color;
      border-radius: 0 4px 4px 0;
      opacity: .8;
    }
  }
}

.right-aside {
  flex: 1;
  overflow: hidden;
  padding-left: 20rpx;
}

.s-item {
  display: flex;
  align-items: center;
  height: 70rpx;
  padding-top: 8rpx;
  font-size: 28rpx;
  color: $font-color-dark;
}

.t-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
  padding-top: 12rpx;

  &:after {
    content: '';
    flex: 99;
    height: 0;
  }
}

.t-item {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 176rpx;
  font-size: 26rpx;
  color: #666;
  padding-bottom: 20rpx;

  image {
    width: 140rpx;
    height: 140rpx;
  }
}